body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.keyboard__text-area {
  width: 100%;
  margin-bottom: 20px;
}

.keyboard-panel {
}

.keyboard-line {
  display: flex;
  justify-content: space-between;
}

.keyboard-line__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  background-color: burlywood;
  box-sizing: border-box;
  padding: 5px;
  user-select: none;
  outline: 1px solid #666;
  margin: 3px;
}

.keyboard-line__button_pressed {
  background-color: chartreuse;
}

.keyboard-line__button:hover {
  cursor: pointer;
  background-color: #deb8ff;
}

.keyboard-line__button-main-text {
  order: 2;
}

.keyboard-line__button-main-text_letter {
  align-self: center;
}

.keyboard-line__button-main-text_tab {
  width: 85px;
}

.keyboard-line__button-main-text_caps-lock,
.keyboard-line__button-main-text_ctrl {
  width: 100px;
}

.keyboard-line__button-main-text_shift {
  width: 130px;
}

.keyboard-line__button-main-text_space {
  width: 334px;
}

.keyboard-line__button-main-text_enter {
  width: 110px;
}

.keyboard-line__button-main-text_backspace {
  width: 70px;
}

.keyboard-line__button-shifted-text {
  order: 1;
  align-self: flex-start;
}

.keyboard-line__button_default {
}

