html {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  background: #e3edf7;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.keyboard__text-area {
  width: 100%;
  margin-bottom: 20px;
}

.keyboard__message {
  margin-top: 20px;
}

.keyboard-line {
  display: flex;
  justify-content: space-between;
}

.keyboard-line__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 50px;
  height: 50px;
  margin: 3px;
  padding: 5px;
  box-sizing: border-box;
  background: #e3edf7;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(111, 140, 176, 0.5), -6px -6px 20px #ffffff, 2px 2px 4px rgba(114, 142, 171, 0.4);
  user-select: none;
}

.keyboard-line__button_single {
  align-items: center;
}

.keyboard-line__button_single .keyboard-line__button-shifted-text {
  display: none;
}

.keyboard-line__button:hover {
  background: #dbe6f0;
  cursor: pointer;
}

.keyboard-line__button_pressed {
  box-shadow: inset 4px 4px 8px #c1d5ee, inset -4px -4px 9px rgba(255, 255, 255, 0.88);
  animation: buttonAnimation 0.3s ease;
}

@keyframes buttonAnimation {
  0% {
    box-shadow: 4px 4px 20px rgba(111, 140, 176, 0.5), -6px -6px 20px #ffffff, 2px 2px 4px rgba(114, 142, 171, 0.4);
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: inset 4px 4px 8px #c1d5ee, inset -4px -4px 9px rgba(255, 255, 255, 0.88);
  }
}


.keyboard-line__button_pressed:hover {
  background: #dbe6f0;
}

.keyboard-line__button-main-text {
  order: 2;
}

.keyboard-line__button-main-text_letter {
  align-self: center;
}

.keyboard-line__button-main-text_tab {
  width: 85px;
}

.keyboard-line__button-main-text_caps-lock {
  width: 100px;
}

.keyboard-line__button-main-text_ctrl {
  width: 64px;
}

.keyboard-line__button-main-text_shift {
  width: 130px;
}

.keyboard-line__button-main-text_space {
  width: 370px;
}

.keyboard-line__button-main-text_enter {
  width: 110px;
}

.keyboard-line__button-main-text_backspace {
  width: 100px;
}

.keyboard-line__button-shifted-text {
  order: 1;
  align-self: flex-start;
}